[Unit]
Description=Start DJ Polly's Lightshow

[Service]
WorkingDirectory=/home/root/lights
ExecStart=/home/root/lights/start_lights
KillMode=control-group
Environment="NODE_PATH=/usr/lib/node_modules"

[Install]
WantedBy=multi-user.target
